

.portlet {
	@extend %flex;
	flex: 1 0 100%;
	margin-bottom: (20/1080) * 100vh;
	
	box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
	background-color: #fff;
	border-radius: 4px;

	&_content {
		flex: 1 0 100%;
		padding: (30/1080) * 100vh (24/1920) * 100vw;
	}

	&_footer {
		@extend %flex;
		flex: 1 0 100%;
		padding: (36/1920) * 100vw;
		border-top: 1px solid #ebedf2;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}