// PLACEHOLDERS
%flex {
	display: flex;
	flex-flow: wrap;
}

.book {
	@extend %flex;

	&_title {
		flex: 1 0 70%;
		margin-bottom: (20/1080) * 100vh;
		font: {
			size: 18px;
			weight: 500;
		}
		color: #434349;
		white-space: nowrap;

		// DESKTOP
		@media(min-width: 2000px) {
			flex: 1 0 80%;
		}
	}

	&_buttons {
		@extend %flex;
		flex: 0 0 auto;
		align: {
			items: flex-start;
			content: flex-start;
		}
		margin-bottom: (20/1080) * 100vh;
	}

	&_category {
		flex: 0 0 auto;
		padding: (6/1080) * 100vh (14/1920) * 100vw;
		margin-bottom: (20/1080) * 100vh;
		background: rgba(#48465b, .1);
		border-radius: 4px;
		font: {
			size: 13px;
			weight: 600;
		}
		color: #48465b;

		// MODIFIERS
		&.-read {
			background-color: rgba(29,201,183,.1);
			color: #1dc9b7;
		}
		&.-reading {
			background-color: rgba(34,185,255,.1);
			color: #22b9ff;
		}
		&.-wantToRead {
			background-color: rgba(255,184,34,.1);
			color: #ffb822;
		}
	}

	&_menu {
		@extend %flex;
		flex: 0 0 40px;
		justify-content: flex-end;
		z-index: 3;

		&-burguer {
			flex: 0 0 23px;
			margin-top: 3px;
			height: 23px;
			background: {
				image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 408 408' style='enable-background:new 0 0 408 408;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg id='keyboard-control'%3E%3Cpath d='M51,153c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S79.05,153,51,153z M357,153c-28.05,0-51,22.95-51,51 s22.95,51,51,51s51-22.95,51-51S385.05,153,357,153z M204,153c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51 S232.05,153,204,153z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%2374788d'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				repeat: no-repeat;
				position: center;
				size: contain;
			}
			cursor: pointer;
		}

		&-icon {
			flex: 0 0 17px;
			height: 17px;
			margin-right: 10px;
			background: {
				repeat: no-repeat;
				position: center;
				size: contain;
			}

			// Modifiers
			&.-read {
				background-image: url("data:image/svg+xml,%3Csvg width='512' height='512' viewBox='0 0 512 512' fill='nonB8BAC3' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M496 264H472V256C472 251.584 468.416 248 464 248H272C267.584 248 264 251.584 264 256V264H240C235.584 264 232 267.576 232 272V296H200V271.976C230.352 259.28 253.36 232.568 261.096 200H272C285.232 200 296 189.232 296 176V160C296 147.824 286.88 137.728 275.112 136.2L293.656 117.656C295.16 116.16 296 114.12 296 112V80C296 77.88 295.16 75.84 293.656 74.344L264 44.688V32C264 28.968 262.288 26.2 259.576 24.84L227.576 8.84C226.472 8.288 225.24 8 224 8H136C133.88 8 131.84 8.84 130.344 10.344L120 20.688L109.656 10.344C108.16 8.84 106.12 8 104 8H72C69.88 8 67.84 8.84 66.344 10.344L50.344 26.344C48.84 27.84 48 29.88 48 32V44.688L26.344 66.344C24.84 67.84 24 69.88 24 72V112C24 114.12 24.84 116.16 26.344 117.656L44.888 136.2C33.12 137.728 24 147.824 24 160V176C24 189.232 34.768 200 48 200H58.904C66.64 232.568 89.648 259.28 120 271.976V296H70.632C53.904 296 38.176 302.512 26.344 314.344C14.512 326.168 8 341.888 8 358.624V464C8 468.424 11.584 472 16 472H232V480C232 484.424 235.584 488 240 488H345.472C348.784 497.288 357.584 504 368 504C378.416 504 387.216 497.288 390.528 488H496C500.416 488 504 484.424 504 480V272C504 267.576 500.416 264 496 264ZM280 424H360V440H280V424ZM376 440V424H456V440H376ZM456 408H376V264H456V408ZM360 264V408H280V264H360ZM280 160V176C280 180.408 276.408 184 272 184H263.592C263.8 181.352 264 178.704 264 176V152H272C276.408 152 280 155.592 280 160ZM40 108.688V75.312L61.656 53.656C63.16 52.16 64 50.12 64 48V35.312L75.312 24H100.688L114.344 37.656C117.472 40.784 122.528 40.784 125.656 37.656L139.312 24H222.112L248 36.944V48C248 50.12 248.84 52.16 250.344 53.656L280 83.312V108.688L264 124.688V120C264 115.584 260.416 112 256 112H233.944C214.192 112 195.624 104.312 181.656 90.344C178.528 87.216 173.472 87.216 170.344 90.344C156.376 104.312 137.808 112 118.056 112H64C59.584 112 56 115.584 56 120V124.688L40 108.688ZM48 184C43.592 184 40 180.408 40 176V160C40 155.592 43.592 152 48 152H56V176C56 178.704 56.2 181.352 56.408 184H48ZM72 176V128H118.056C139.504 128 159.8 120.544 176 106.856C192.192 120.544 212.496 128 233.944 128H248V176C248 224.52 208.52 264 160 264C111.48 264 72 224.52 72 176V176ZM160 280C168.272 280 176.28 278.928 184 277.096V300.688L160 324.688L136 300.688V277.096C143.72 278.928 151.728 280 160 280ZM124.688 312L154.344 341.656C155.904 343.216 157.952 344 160 344C162.048 344 164.096 343.216 165.656 341.656L195.312 312H228.688L159.312 381.376L89.944 312H124.688ZM72 456V400H56V456H24V358.624C24 346.168 28.848 334.456 37.656 325.656C45.712 317.6 56.208 312.904 67.472 312.152L153.656 398.344C155.16 399.848 157.192 400.688 159.312 400.688C161.432 400.688 163.472 399.848 164.968 398.344L232 331.312V456H72ZM248 280H264V448C264 452.424 267.584 456 272 456H344V472H248V280ZM368 488C363.592 488 360 484.416 360 480V456H376V480C376 484.416 372.408 488 368 488ZM488 472H392V456H464C468.416 456 472 452.424 472 448V280H488V472Z' fill='%23B8BAC3'/%3E%3Cpath d='M296 376H344V392H296V376Z' fill='%23B8BAC3'/%3E%3Cpath d='M296 344H344V360H296V344Z' fill='%23B8BAC3'/%3E%3Cpath d='M296 312H344V328H296V312Z' fill='%23B8BAC3'/%3E%3Cpath d='M296 280H344V296H296V280Z' fill='%23B8BAC3'/%3E%3Cpath d='M392 344H440V360H392V344Z' fill='%23B8BAC3'/%3E%3Cpath d='M392 312H440V328H392V312Z' fill='%23B8BAC3'/%3E%3Cpath d='M392 280H440V296H392V280Z' fill='%23B8BAC3'/%3E%3Cpath d='M392 376H440V392H392V376Z' fill='%23B8BAC3'/%3E%3Cpath d='M104 144H120V176H104V144Z' fill='%23B8BAC3'/%3E%3Cpath d='M200 144H216V176H200V144Z' fill='%23B8BAC3'/%3E%3Cpath d='M192 216H176C176 224.824 168.824 232 160 232C151.176 232 144 224.824 144 216H128C128 233.648 142.352 248 160 248C177.648 248 192 233.648 192 216Z' fill='%23B8BAC3'/%3E%3Cpath d='M495.668 113.668C492.171 113.668 489.337 116.503 489.337 120C489.337 159.337 457.337 191.337 418 191.337C378.666 191.337 346.663 159.337 346.663 120C346.663 80.6657 378.666 48.6633 418 48.6633C421.497 48.6633 424.332 45.829 424.332 42.3318C424.332 38.8343 421.497 36 418 36C371.682 36 334 73.6819 334 120C334 166.316 371.682 204 418 204C464.316 204 502 166.316 502 120C502 116.503 499.166 113.668 495.668 113.668Z' fill='%23B8BAC3'/%3E%3Cpath d='M497.196 58.9671C494.725 56.4914 490.715 56.4871 488.243 58.9566L412.285 134.715L384.879 104.95C382.511 102.379 378.507 102.212 375.932 104.58C373.36 106.948 373.195 110.954 375.563 113.527L407.432 148.138C408.6 149.406 410.233 150.143 411.955 150.179C412.002 150.181 412.046 150.181 412.09 150.181C413.764 150.181 415.374 149.516 416.561 148.334L497.184 67.922C499.661 65.4528 499.666 61.4428 497.196 58.9671Z' fill='%23B8BAC3'/%3E%3C/svg%3E%0A");
			}
			&.-reading {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' width='512' height='512'%3E%3Cpath d='M472 296h-16V176c0-2.28-.976-4.456-2.672-5.968-1.704-1.528-3.96-2.272-6.24-1.976L424 170.72V144c0-2.312-1-4.504-2.736-6.024a8.013 8.013 0 00-6.344-1.904l-95.008 12.96C330.344 133.448 336 115.216 336 96c0-52.936-43.064-96-96-96s-96 43.064-96 96c0 19.216 5.656 37.448 16.088 53.032l-95.008-12.96A8.005 8.005 0 0056 144v26.72l-23.08-2.664c-2.288-.296-4.544.456-6.24 1.976A7.983 7.983 0 0024 176v120H8c-4.416 0-8 3.576-8 8v96c0 4.424 3.584 8 8 8h16v40c0 4.064 3.048 7.488 7.08 7.944l208 24c.312.04.616.056.92.056s.608-.016.92-.056l208-24c4.032-.456 7.08-3.88 7.08-7.944v-40h16c4.416 0 8-3.576 8-8v-96c0-4.424-3.584-8-8-8zm-64-142.832v19.392l-160 18.456v-16.04l53.64-7.312h.008L408 153.168zM16 392v-80h16c22.056 0 40 17.944 40 40s-17.944 40-40 40H16zm216 71.024l-192-22.16v-33.44c.624-.088 1.224-.24 1.832-.352.752-.136 1.504-.264 2.24-.424 1.032-.224 2.04-.504 3.048-.784.696-.192 1.392-.376 2.08-.6a53.625 53.625 0 003.112-1.144c.6-.232 1.208-.44 1.792-.696 1.192-.512 2.344-1.096 3.496-1.688.392-.2.8-.376 1.192-.592a55.81 55.81 0 004.448-2.704c.248-.168.472-.352.712-.52a59.519 59.519 0 003.424-2.56c.456-.376.888-.784 1.336-1.176.848-.744 1.696-1.488 2.504-2.28.48-.472.928-.968 1.384-1.456.72-.76 1.44-1.528 2.12-2.328.456-.536.888-1.096 1.32-1.656.632-.8 1.248-1.608 1.832-2.448.416-.6.816-1.208 1.208-1.816a52.223 52.223 0 001.56-2.568 52.954 52.954 0 002.376-4.664c.304-.672.608-1.352.888-2.04.384-.952.728-1.92 1.064-2.896.232-.688.48-1.376.688-2.072.304-1.032.56-2.08.808-3.136.16-.68.344-1.344.48-2.032.232-1.176.392-2.376.544-3.576.08-.592.184-1.168.248-1.76.16-1.776.264-3.608.264-5.456 0-1.848-.104-3.68-.28-5.48-.056-.592-.168-1.176-.248-1.76-.152-1.2-.312-2.4-.544-3.568-.136-.688-.32-1.36-.48-2.04-.248-1.048-.496-2.104-.808-3.128-.208-.704-.456-1.384-.688-2.072a59.504 59.504 0 00-1.064-2.896c-.28-.688-.584-1.36-.888-2.04a52.954 52.954 0 00-2.376-4.664 51.983 51.983 0 00-1.56-2.56c-.4-.616-.792-1.224-1.216-1.824-.584-.832-1.2-1.64-1.824-2.44-.44-.56-.864-1.112-1.328-1.656-.68-.8-1.392-1.568-2.12-2.328-.464-.488-.912-.984-1.384-1.456-.808-.792-1.656-1.536-2.504-2.28-.448-.392-.872-.8-1.336-1.176-1.088-.896-2.232-1.728-3.384-2.536-.256-.176-.488-.376-.752-.552a58.112 58.112 0 00-4.44-2.704c-.384-.208-.8-.384-1.192-.592a58.63 58.63 0 00-3.496-1.688c-.584-.256-1.192-.464-1.792-.696-1.032-.4-2.056-.8-3.112-1.144-.688-.224-1.384-.4-2.08-.6-1-.28-2.008-.552-3.032-.784-.744-.168-1.504-.296-2.256-.432-.6-.096-1.2-.248-1.816-.336V184.976l23.08 2.664 15.616 1.8L232 207.136v255.888zm0-272L72 172.56v-19.392l106.36 14.504h.008L232 174.984v16.04zm8-31.096l-56.848-7.76C168.2 137.088 160 117.232 160 96c0-44.112 35.888-80 80-80s80 35.888 80 80c0 21.232-8.2 41.088-23.152 56.168L240 159.928zm200 280.936l-192 22.16V207.136l153.296-17.688 15.616-1.8L440 184.976V296.64c-27.096 3.904-48 27.208-48 55.36s20.904 51.456 48 55.36v33.504zM464 392h-16c-22.056 0-40-17.944-40-40s17.944-40 40-40h16v80z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23B8BAC3'/%3E%3Cpath d='M413.296 218c-1.72-1.512-3.984-2.2-6.288-1.936l-128 16A7.993 7.993 0 00272 240v64c0 2.296.984 4.48 2.704 6a8.02 8.02 0 005.296 2c.328 0 .664-.024.992-.064l128-16A7.993 7.993 0 00416 288v-64c0-2.296-.984-4.48-2.704-6zM400 280.936l-112 14v-47.872l112-14v47.872z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23B8BAC3'/%3E%3C/svg%3E");
			}
			&.-wantToRead {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 480 480' width='512' height='512' class='hovered-paths'%3E%3Cpath d='M456 319.996v-72a8.01 8.01 0 00-3.793-6.805 7.969 7.969 0 00-7.785-.352l-6.248 3.124-.932-4.35c-2.527-11.792-10.275-21.439-20.449-26.863 2.058-5.899 2.808-12.113 1.906-18.411l-11.904-83.345c.768-4.75 1.205-9.813 1.205-15.303V87.48c0-24.422-9.137-46.75-25.723-62.867C365.219 8.035 341.807-.574 316.362.035 269.844 1.355 232 41.051 232 88.519v7.172c0 5.49.437 10.554 1.205 15.303l-11.904 83.345c-.901 6.297-.152 12.512 1.906 18.411-10.174 5.424-17.924 15.073-20.453 26.87l-.93 4.342-6.246-3.123a7.97 7.97 0 00-7.785.352 8.01 8.01 0 00-3.793 6.805v72c-13.234 0-24 10.766-24 24v-120c0-4.422-3.582-8-8-8H32c-17.645 0-32 14.352-32 32v104c0 9.604 4.339 18.13 11.058 24C4.339 381.865 0 390.392 0 399.996s4.339 18.13 11.058 24C4.339 429.865 0 438.392 0 447.996c0 17.648 14.355 32 32 32h120c4.418 0 8-3.578 8-8v-112c0 13.234 10.766 24 24 24v56c0 3.672 2.5 6.867 6.059 7.758l128 32c.641.164 1.293.242 1.941.242s1.301-.078 1.941-.242l128-32a7.998 7.998 0 006.059-7.758v-56c13.234 0 24-10.766 24-24v-16c0-13.235-10.766-24-24-24zM24 461.77c-4.759-2.776-8-7.88-8-13.774s3.241-10.998 8-13.774v27.548zm0-48c-4.759-2.776-8-7.88-8-13.774s3.241-10.998 8-13.774v27.548zm0-48c-4.759-2.776-8-7.88-8-13.774s3.241-10.998 8-13.774v27.548zm120 98.226H40v-32h104v32zm0-48H40v-32h104v32zm0-48H40v-32h104v32zm0-48H32c-5.854 0-11.274 1.695-16 4.451v-76.451c0-8.82 7.176-16 16-16h112v88zm296-59.055v12.812l-51.246 12.812L440 260.941zm-37.137-64.336c.657 4.609-.182 8.507-1.421 11.682-1.106-.094-2.188-.292-3.313-.292h-20.961c-14.107-3.785-25.499-13.777-31.09-27a65.939 65.939 0 0012.809-6.961c14.174-9.923 27.02-19.899 36.033-33.046l7.943 55.617zm-96.722-28.32c-5.863-1.625-11.195-4.102-15.848-7.359-19.432-13.604-31.796-24.926-37.847-40.186l28.714-41.025 105.476 43.431c-6.375 14.083-18.508 24.884-36.925 37.78-4.656 3.258-9.988 5.734-15.852 7.359-4.18 1.164-6.672 5.445-5.621 9.648 4.867 19.453 18.535 35.164 36.652 42.773-6.391 5.336-22.32 11.289-44.891 11.289s-38.5-5.953-44.891-11.289c18.117-7.609 31.785-23.32 36.652-42.773 1.053-4.203-1.44-8.484-5.619-9.648zM248 88.519c0-38.891 30.871-71.414 68.816-72.484h.004c21.059-.633 40.379 6.516 54.305 20.047C384.586 49.167 392 67.417 392 87.48v8.211c0 4.308-.354 8.239-.909 11.982L281.328 62.48a8.017 8.017 0 00-9.602 2.813l-23.533 33.621c-.039-1.1-.194-2.08-.194-3.223v-7.172zm-10.863 108.086l7.944-55.617c9.014 13.147 21.86 23.123 36.037 33.046a65.761 65.761 0 0012.805 6.961c-5.591 13.223-16.982 23.215-31.09 27h-20.961c-1.125 0-2.208.197-3.313.292-1.24-3.175-2.079-7.073-1.422-11.682zM200 260.941l51.246 25.623L200 273.752v-12.811zm-16 107.055c-4.41 0-8-3.586-8-8v-16c0-4.414 3.59-8 8-8h16c4.41 0 8 3.586 8 8v16c0 4.414-3.59 8-8 8h-16zm128 93.75l-112-28v-49.75c13.234 0 24-10.766 24-24v-16c0-13.234-10.766-24-24-24v-29.75l112 28v143.5zm8-158.696l-103.395-51.698 1.793-8.38c2.359-11 12.23-18.977 23.473-18.977h15.882c7.048 15.778 34.771 24 62.247 24s55.199-8.222 62.247-24h15.882c11.242 0 21.113 7.977 23.469 18.969l1.796 8.389L320 303.05zm120 130.696l-112 28v-143.5l112-28v29.75c-13.234 0-24 10.766-24 24v16c0 13.234 10.766 24 24 24v49.75zm24-73.75c0 4.414-3.59 8-8 8h-16c-4.41 0-8-3.586-8-8v-16c0-4.414 3.59-8 8-8h16c4.41 0 8 3.586 8 8v16zM316.359.035h.004z' data-original='%23000000' class='hovered-path active-path' data-old_color='%23000000' fill='%23B8BAC3'/%3E%3Cpath data-original='%23000000' class='hovered-path active-path' data-old_color='%23000000' fill='%23B8BAC3' d='M72 183.996h16v16H72zM72 151.996h16v16H72zM72 119.996h16v16H72zM72 87.996h16v16H72zM72 55.996h16v16H72zM104 55.996h16v16h-16zM136 55.996h16v16h-16zM168 55.996h16v16h-16zM200 55.996h16v16h-16z'/%3E%3C/svg%3E");
			}
		}

		&-link {
			@extend %flex;
			flex: 1 0 100%;
			flex-wrap: nowrap;
			padding: (7/1080) * 100vh (23/1920) * 100vw;
			font: {
				size: 13px;
				weight: 400;
			}
			color: #595d6e;
			align-items: center;
			cursor: pointer;

			&:hover {
				background-color: #f7f8fa;
			}
		}

		&-content {
			@extend %flex;
			flex: 1 0;
			width: 180px;
			max-height: 0;
			height: 0;
			position: absolute;
			top: 100%;
			z-index: 3;
			background-color: #fff;
			box-shadow: 0 0 50px 0 rgba(82,63,105,.15);
			border-radius: 4px;
			transform: translateY(10px);
			opacity: 0;
			transition: height 0ms, transform 400ms ease-in, opacity 200ms ease-in;
		}

		&:hover {
			.book_menu {
				&-burguer {
					background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='512px' height='512px' viewBox='0 0 408 408' style='enable-background:new 0 0 408 408;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cg id='keyboard-control'%3E%3Cpath d='M51,153c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51S79.05,153,51,153z M357,153c-28.05,0-51,22.95-51,51 s22.95,51,51,51s51-22.95,51-51S385.05,153,357,153z M204,153c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51 S232.05,153,204,153z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23007A63'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
				}
				&-content {
					padding: (13/1080) * 100vh 0;
					max-height: 9999px;
					height: auto;
					transform: translateY(0);
					opacity: 1;
					transition: height 0ms, transform 400ms ease-out, opacity 400ms ease-out;

					// TABLET
					@media(min-width: 748px) {
						
					}

					// DESKTOP
					@media(min-width: 992px) {
						
					}
					@media(min-width: 1300px) {
						top: calc(100% - 15px);
					}
				}
			}
		}
	}

	&_label {
		@extend %flex;
		flex: 1 0 100%;
		padding: 10px 20px;
		align: {
			items: center;
			content: flex-start;
		}

		// TABLET
		@media(min-width: 748px) {
			flex: 1 0 50%;
			padding: 0;
			margin-bottom: (30/1080) * 100vh;
		}

		// DESKTOP
		@media(min-width: 992px) {
			flex: 1 0;
			margin-bottom: 0;
		}

		&-icon {
			flex: 0 0 35px;
			height: 35px;
			margin-right: 10px;
  			background: {
  				size: contain;
  				position: center;
  				repeat: no-repeat;
  			}

			// DESKTOP
			@media(min-width: 992px) {
				margin-right: (10/1920) * 100vw;
			}

			// MODIFIERS
			&.-author {
				background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512px' height='512px'%3E%3Cg%3E%3Cg id='Outline'%3E%3Cpath d='M422.917,296.542,350.953,287.5A7.933,7.933,0,0,1,344,279.6V262.359a94.5,94.5,0,0,0,31.77-64.506l1.7-5.89a31.987,31.987,0,0,0,16.278-58.575,100.889,100.889,0,0,0-1.519-46.336A92.837,92.837,0,0,0,364.775,42.2c-1.973-1.766-3.714-3.221-5.322-4.448A103.345,103.345,0,0,0,258.438,23.113L230.423,34.1c-29.418.937-43.947,28.1-45.291,54.985-.974,18.1,2.357,35.557,6.107,50.665a31.969,31.969,0,0,0,14.31,50.483c3.533,9.961,7.951,18.295,15.1,30.487A94.524,94.524,0,0,0,248,262.358V279.6a7.87,7.87,0,0,1-6.177,7.762c-.3.04-.557.089-.766.134l-.049,0c-2.075.26-22.06,2.777-32.35,4.081-9.051-18.33-18.567-36.014-28.342-52.641l-12.247-29.168a8,8,0,0,0-10.348-4.33l-5.766,2.307-13.063-87.916a8,8,0,0,0-3.885-5.735L64.654,73.088A8,8,0,0,0,52.9,77.941L32.27,155.365a8,8,0,0,0,1.339,6.872l53.75,71.368-5.453,2.183a8,8,0,0,0-4.4,10.524l12.157,28.954C98.977,310.1,108.91,341.5,120,371.2V464a32.036,32.036,0,0,0,32,32H272a8,8,0,0,0,7.923-9.1,119,119,0,0,0-3.285-14.909l19.337-6.146,90.047,28.651a31.952,31.952,0,0,0,9.7,1.507H440a32.036,32.036,0,0,0,32-32V352.08A56.006,56.006,0,0,0,422.917,296.542ZM456,407.16l-83.693-8.369,44.944-22.472L456,382.777Zm0-55.08v14.476l-38.685-6.447a8,8,0,0,0-4.893.736l-46.683,23.341L296,391.16l-46.984-4.7c-1.33-3.647-2.682-7.259-4-10.781-8.7-23.3-18.445-46.425-29.021-68.9,7.624-.964,17.271-2.18,22.831-2.879a69.454,69.454,0,0,0,116.9.32l65.221,8.2A39.993,39.993,0,0,1,456,352.08ZM264,279.6v-6.483A68.377,68.377,0,0,0,293.827,280h4.346A68.377,68.377,0,0,0,328,273.117V279.6a23.985,23.985,0,0,0,11.159,20.261A53.434,53.434,0,0,1,254.6,298.6,23.967,23.967,0,0,0,264,279.6ZM306.868,136H285.132a17.589,17.589,0,0,0-14.732-8H237.749A102.882,102.882,0,0,0,248,83.158V72h8.676c13.1,0,23.6,9.578,34.718,19.719C302.323,101.69,313.624,112,328,112h32c0,4.815,0,10.974,0,16.081-.528-.048-1.061-.081-1.6-.081H321.6A17.589,17.589,0,0,0,306.868,136ZM232,145.6a1.6,1.6,0,0,1,1.6-1.6h36.8a1.6,1.6,0,0,1,1.6,1.6v12.8a1.6,1.6,0,0,1-1.6,1.6H233.6a1.6,1.6,0,0,1-1.6-1.6Zm88,0a1.6,1.6,0,0,1,1.6-1.6h36.8a1.6,1.6,0,0,1,1.6,1.6v12.8a1.6,1.6,0,0,1-1.6,1.6H321.6a1.6,1.6,0,0,1-1.6-1.6ZM376,176V144a16,16,0,0,1,0,32ZM201.11,89.919c.919-18.377,9.56-39.839,30.89-39.839a7.985,7.985,0,0,0,2.922-.553L264.275,38.01a87.282,87.282,0,0,1,85.349,12.365l.088.069c1.282.976,2.718,2.179,4.387,3.672,19.98,17.918,29.128,46.3,24.348,73.987-.808-.062-1.622-.1-2.446-.1,0-10,0-24,0-24a8,8,0,0,0-8-8H328c-8.174,0-16.747-7.821-25.822-16.1C289.9,68.7,275.982,56,256.676,56H240a8,8,0,0,0-8,8V83.158A86.931,86.931,0,0,1,219.582,128H216a31.855,31.855,0,0,0-10.672,1.836C202.52,117.42,200.368,103.71,201.11,89.919ZM216,144v32a16,16,0,0,1,0-32Zm16,47.344V175.919c.528.048,38.4.081,38.4.081A17.621,17.621,0,0,0,288,158.4V152h16v6.4A17.621,17.621,0,0,0,321.6,176s37.872-.033,38.4-.081c0,0-.04,18.332-.119,19.776,0,.032,0,.065-.006.1a78.567,78.567,0,0,1-28.229,56.089A52.385,52.385,0,0,1,298.173,264h-4.346a52.385,52.385,0,0,1-33.473-12.119A78.589,78.589,0,0,1,232,191.344Zm-1.971,189.945q.633,1.688,1.274,3.4l-5.042-.5-46.683-23.341a8.008,8.008,0,0,0-4.893-.736l-5.012.835c-4.415-10.83-8.729-22.161-12.854-33.781l-15.078,5.354c3.784,10.658,7.726,21.086,11.76,31.122l-18.119,3.02c-10.377-27.677-19.729-56.872-28.515-89.043l62.817-25.142c9.366,16.246,18.473,33.459,27.121,51.262C209.023,328.883,220.2,354.972,230.029,381.289ZM162.6,238.071l-60.969,24.375L95.4,247.62l60.959-24.4ZM48.732,155.721l13.59-51.015,22.809,54.321a16.047,16.047,0,0,0-2.175,3.685,15.727,15.727,0,0,0,.008,12.246,16.313,16.313,0,0,0,21.037,8.7,15.974,15.974,0,0,0,8.886-8.717,15.711,15.711,0,0,0-.008-12.243,16.2,16.2,0,0,0-12.937-9.722L77.261,98.957l46.369,27.03,13.058,87.874L102.75,227.445ZM251.47,480l9.914-3.158c.287,1.055.567,2.11.83,3.158Zm12.9-20.9L201.148,479.24a16.8,16.8,0,0,1-4.908.76H152a16.019,16.019,0,0,1-16-16V445.416l32.809-13.123,53.231,10.024,47.539,15.126ZM456,464a16.019,16.019,0,0,1-16,16H395.726a15.964,15.964,0,0,1-4.851-.753L226.426,426.922a7.886,7.886,0,0,0-.946-.238l-56-10.546a8,8,0,0,0-4.451.434L136,428.184V382.777l38.749-6.458,45.673,22.836a7.989,7.989,0,0,0,2.782.805L456,423.24Z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='M287.745,223.821c2.068-.1,14.442-.1,16.511,0,2.374.12,4.811.179,7.229.179a116.169,116.169,0,0,0,16.5-1.052l1.222-.186-2.4-15.818-1.22.185a113.735,113.735,0,0,1-20.512.713c-2.337-.119-15.795-.119-18.131,0a113.9,113.9,0,0,1-20.512-.713l-1.221-.185-2.4,15.818,1.223.186A129.128,129.128,0,0,0,287.745,223.821Z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='M131.464,301.727c1.609,5.123,3.295,10.319,5.012,15.447l15.172-5.079c-1.685-5.033-3.34-10.135-4.919-15.163Z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
			&.-isbn {
				background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='512px' viewBox='0 -54 512 512' width='512px'%3E%3Cg%3E%3Cpath d='m304 302c-5.523438 0-10-4.476562-10-10v-216c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v216c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m352 302c-2.628906 0-5.210938-1.070312-7.070312-2.929688-1.859376-1.859374-2.929688-4.441406-2.929688-7.070312s1.070312-5.210938 2.929688-7.070312c1.859374-1.859376 4.441406-2.929688 7.070312-2.929688s5.210938 1.070312 7.070312 2.929688c1.859376 1.859374 2.929688 4.441406 2.929688 7.070312s-1.070312 5.210938-2.929688 7.070312c-1.859374 1.859376-4.441406 2.929688-7.070312 2.929688zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m352 265c-5.523438 0-10-4.476562-10-10v-179c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v179c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m400 338c-5.523438 0-10-4.476562-10-10v-252c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v252c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m448 302c-5.523438 0-10-4.476562-10-10v-216c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v216c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m112 338c-5.523438 0-10-4.476562-10-10v-252c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v252c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m160 265c-5.523438 0-10-4.476562-10-10v-179c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v179c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m160 302c-2.628906 0-5.210938-1.070312-7.070312-2.929688-1.859376-1.859374-2.929688-4.441406-2.929688-7.070312s1.070312-5.210938 2.929688-7.070312c1.859374-1.859376 4.441406-2.929688 7.070312-2.929688s5.210938 1.070312 7.070312 2.929688c1.859376 1.859374 2.929688 4.441406 2.929688 7.070312s-1.070312 5.210938-2.929688 7.070312c-1.859374 1.859376-4.441406 2.929688-7.070312 2.929688zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m64 302c-5.523438 0-10-4.476562-10-10v-216c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v216c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m208 302c-5.523438 0-10-4.476562-10-10v-216c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v216c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m256 302c-5.523438 0-10-4.476562-10-10v-216c0-5.523438 4.476562-10 10-10s10 4.476562 10 10v216c0 5.523438-4.476562 10-10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m502 404h-492c-5.523438 0-10-4.476562-10-10v-384c0-5.523438 4.476562-10 10-10h492c5.523438 0 10 4.476562 10 10v384c0 5.523438-4.476562 10-10 10zm-482-20h472v-364h-472zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3C/g%3E%3C/svg%3E");
			}
			&.-status {
				  background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' viewBox='0 0 463 463' style='enable-background:new 0 0 463 463;' xml:space='preserve' width='512px' height='512px'%3E%3Cg%3E%3Cg%3E%3Cpath d='M103.5,215h256c57.07,0,103.5-46.43,103.5-103.5S416.57,8,359.5,8h-256C46.43,8,0,54.43,0,111.5S46.43,215,103.5,215z M359.5,23c48.799,0,88.5,39.701,88.5,88.5S408.299,200,359.5,200H157.119C187,181.829,207,148.956,207,111.5 S187,41.171,157.119,23H359.5z M103.5,23c48.799,0,88.5,39.701,88.5,88.5S152.299,200,103.5,200S15,160.299,15,111.5 S54.701,23,103.5,23z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='M103.5,55c31.154,0,56.5,25.346,56.5,56.5c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5c0-39.425-32.075-71.5-71.5-71.5 c-4.142,0-7.5,3.358-7.5,7.5S99.358,55,103.5,55z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='M359.5,248h-256C46.43,248,0,294.43,0,351.5S46.43,455,103.5,455h256c57.07,0,103.5-46.43,103.5-103.5 S416.57,248,359.5,248z M103.5,440C54.701,440,15,400.299,15,351.5S54.701,263,103.5,263h202.381 C276,281.171,256,314.044,256,351.5s20,70.329,49.881,88.5H103.5z M359.5,440c-48.799,0-88.5-39.701-88.5-88.5 s39.701-88.5,88.5-88.5s88.5,39.701,88.5,88.5S408.299,440,359.5,440z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='M359.5,280c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5c31.154,0,56.5,25.346,56.5,56.5c0,4.142,3.358,7.5,7.5,7.5 s7.5-3.358,7.5-7.5C431,312.075,398.925,280,359.5,280z' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
			}
			&.-comments {
				background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -36 512 512' width='512px' height='512px'%3E%3Cg%3E%3Cpath d='m442 180c-5.519531 0-10 4.480469-10 10s4.480469 10 10 10 10-4.480469 10-10-4.480469-10-10-10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m276 80c5.519531 0 10-4.480469 10-10s-4.480469-10-10-10-10 4.480469-10 10 4.480469 10 10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m482 120h-136v-90c0-16.542969-13.457031-30-30-30h-286c-16.542969 0-30 13.457031-30 30v200c0 16.542969 13.457031 30 30 30h30v50c0 8.957031 10.824219 13.316406 17.070312 7.070312l57.070313-57.070312h31.859375v90c0 16.542969 13.457031 30 30 30h181.859375l57.070313 57.070312c6.253906 6.253907 17.070312 1.867188 17.070312-7.070312v-50h30c16.542969 0 30-13.457031 30-30v-200c0-16.542969-13.457031-30-30-30zm-412 19.988281h97.71875c-1.109375 3.132813-1.71875 6.496094-1.71875 10v30.011719h-96c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h96v40h-36c-2.652344 0-5.195312 1.054688-7.070312 2.929688l-42.929688 42.925781v-35.855469c0-5.523438-4.476562-10-10-10h-40c-5.515625 0-10-4.484375-10-10v-200c0-5.515625 4.484375-10 10-10h286c5.515625 0 10 4.484375 10 10v90c-14.070312 0-241.910156 0-256 0-5.523438 0-10 4.476562-10 10s4.476562 9.988281 10 9.988281zm422 210.011719c0 5.515625-4.484375 10-10 10h-40c-5.523438 0-10 4.476562-10 10v35.855469l-42.929688-42.925781c-1.875-1.875-4.417968-2.929688-7.070312-2.929688h-186c-5.515625 0-10-4.488281-10-10v-200c0-5.515625 4.484375-10 10-10h286c5.515625 0 10 4.484375 10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m70 80h166c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-166c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m236 200h166c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-166c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m442 240h-206c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h206c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3Cpath d='m442 300h-206c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h206c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23A2A5B9'/%3E%3C/g%3E%3C/svg%3E");
			}
		}

		&-content {
			flex: 1 0;
		}

		&-title {
			flex: 1 0 100%;
			font: {
				size: 12px;
				weight: 600;
			}
			line-height: 15px;
			color: #595d6e;
		}

		&-text {
			flex: 1 0 100%;
			font: {
				size: 15px;
				weight: 600;
			}
			line-height: 23px;
			color: #48465b;
		}

		&-link {
			font: {
				size: 12px;
				weight: 600;
			}
			line-height: 23px;
			color: #238772;

			&:hover {
				color: #1f5046;
			}
		}
	}

	&_description {
		flex: 1 0 100%;
		padding: (10/1080) * 100vh 0;
		font: {
			size: 13px;
			weight: 400;
		}
		line-height: 19px;
		color: #74788d;


		// DESKTOP
		@media(min-width: 992px) {
			font-size: 12px;
			padding-right: 50px;
		}
		@media(min-width: 1200px) {
			flex: 1 0 70%;
		}
		@media(min-width: 1300px) {
			font-size: 13px;
		}
	}

	&_info {
		@extend %flex;
		flex: 1 0 100%;

		// DESKTOP
		@media(min-width: 1200px) {
			flex: 0 0 30%;
			justify-content: center;
		}

		&-item {
			@extend %flex;
			position: relative;
			flex: 0 0 auto;

			// DESKTOP
			@media(min-width: 992px) {
				padding: (15/1080) * 100vh 0;
			}
			@media(min-width: 1200px) {
				flex: 0 0 100%;
				text-align: center;
				justify-content: center;
			}
			@media(min-width: 1500px) {
				flex: 0 0 auto;
			}
		}
		&-title {
			flex: 1 0 100%;
			font: {
				size: 13px;
				weight: 500;
			}
			color: #595d6e;

			// DESKTOP
			@media(min-width: 1300px) {
				padding-bottom: (13/1080) * 100vh;
			}
		}
		&-label {
			border-radius: 3px;
			padding: 6px 10px;
			margin-bottom: 10px;
			font: {
				size: 11px;
				weight: 600;
			}
			text-transform: uppercase;

			// DESKTOP
			@media(min-width: 992px) {
				padding: (6/1080) * 100vh (10/1920) * 100vw;
				margin-bottom: 0;
			}

			// Modifiers
			&.-blue {
				background: rgba(#22b9ff, .1);
				color: #22b9ff;
			}
			&.-read {
				background-color: rgba(29,201,183,.1);
				color: #1dc9b7;
			}
			&.-reading {
				background-color: rgba(34,185,255,.1);
				color: #22b9ff;
			}
			&.-wantToRead {
				background-color: rgba(255,184,34,.1);
				color: #ffb822;
			}
		}
	}

	&_content {
		flex: 1 0;
		padding: 20px;
		@extend %flex;
		align: {
			items: center;
			content: flex-start;
		}

		// TABLET
		@media(min-width: 748px) {
			padding: 0;
		}
	}

	&_separator {
		flex: 1 0 100%;
		height: 1px;
		margin: 20px 0;
		background: #ebedf2;

		// DESKTOP
		@media(min-width: 992px) {
			margin: (30/1080) * 100vh 0;
		}
	}

	&_photo {
		flex: 1 0 100%;
		
		position: relative;
		box-shadow: 0 0 13px rgba(#000, .1);
		background: {
			size: cover;
			position: center;
			repeat: no-repeat;
		}

		// TABLET
		@media(min-width: 748px) {
			flex: 1 0 auto;
			max-width: (174/1920) * 100vw;
			min-width: 174px;
			max-height: 250px;
			margin-right: 30px;
		}

		// DESKTOP
		@media(min-width: 992px) {
			margin-right: (30/1920) * 100vw;
		}

		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-top: (125 / 87) * 100%;
		}

		&:after {
			width: 100%;
			height: 100%;
			border: 3px solid #FFF;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
		}
	}
}